@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arima&family=Staatliches&display=swap");

.education-title {
  color: rgb(81, 136, 253);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 2 rem;
  text-decoration: underline;
  padding: 2rem;
}

.education-title2 {
  color: rgb(81, 136, 253);
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  padding: 2rem;
}

.education-titlept2 {
  color: #9adcff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  padding: 2rem;
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  color: white;
}

.education {
  padding: 2rem;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  background-color: #9adcff;
}

.education2 {
  padding: 2rem;
  margin: 0;
  font-family: #86c6f4;
  background-image: url(../Images/techbackground.png);
  background-size: cover;
}

ul {
  line-height: 4rem;
}

.content {
  color: white;
  font-size: 1.5rem;
}

.list-content {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1rem;
}

.list {
  padding: 0 4rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
}

.tech-logo {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  padding: 0%;
  margin: 0%;
}

.arrow {
  width: 15%;
  height: 15%;
  padding: 1rem;
  margin-right: 130px;
  display: flex;
  align-self: flex-end;
}

.clickImage {
  position: absolute;
  left: 75%;
  bottom: -135%;
}

.clickhere {
  width: 70%;
  height: 70%;
}

.img-grp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tech-ed {
  background-image: url(../Images/techbackground.png);
  background-size: cover;
}

.timelinebg {
  background-color: white;
  color: #fdbec5;
  text-align: center;
  font-family: "Arima", cursive;
  font-size: 2rem;
}

@media only screen and (min-width: 600px) {
  .education,
  .education2 {
    padding: 7rem;
  }
  .list-content {
    flex-direction: row;
  }
  .list {
    padding: 4rem;
  }
}
