.header {
  background-color: pink;
  height: 100%;
  width: 100%
}



.about-me {
  background-color: lavenderblush;
  height: 100%;
  width: 100%
}

.backgroundColorUI{
  background-color: #fd79a8;
}

.header, .about-me, .tech-ed, education backgroundColorUI {
  height: 100%;
  width: 100%;
}

.tech-ed {
  scroll-behavior: smooth;
}



