@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arima&family=Staatliches&display=swap');

.about-me {
    background-color: #FABAE5;
}

.about-title {
    font-size: 2rem;
    color: white;
    font-family: 'Arima', cursive;
    text-decoration: underline;
    text-align: center;
}

.about {
    color: white;
    font-family: 'Arima', cursive;
    font-size: 20px;
    text-align: center;
}


@media only screen and (min-width: 600px) {
    
} .about-me {
    background-image: url(../Images/background2.png);
    background-size: cover;
}

.about-title {
    font-size: 2rem;
    color: white;
    font-family: 'Arima', cursive;
    text-decoration: underline;
}

.about {
    color: white;
    font-family: 'Arima', cursive;
    font-size: 20px;
}

